@using TaskManager.Enums
@model List<TaskManager.ViewModels.TaskViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Задачи</h2>
@if (User.IsInRole("User"))
{
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Создать задачу</a>
    </div>
}

<div class="wrapper">
    @foreach (var task in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Название задачи: @task.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Дата создания: @task.CreationDate</h6>
                <h6 class="card-subtitle mb-2 text-muted">Дедлайн: @task.Deadline</h6>
                <h6 class="card-subtitle mb-2 text-muted">Статус: @EnumHelper.GetDescription(task.Status)</h6>
                <h6 class="card-subtitle mb-2 text-muted">Приоритет: @EnumHelper.GetDescription(task.Priority)</h6>
                <p class="card-text">Описание: @task.Description</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>